<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>アクセスマップ(新大塚本社・札幌支社・仙台支社・高田馬場支社・大阪支社・福岡支社)｜株式会社Wiz(ワイズ)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta content="株式会社Wiz（ワイズ）大塚本社および各支社（札幌・仙台・高田馬場・大阪・福岡）のアクセスマップです。各拠点ごとの住所、電話番号、また、詳細な道順を掲載しています。" name="description">
    <meta content="アクセス,アクセスマップ,新大塚本社,札幌支社,仙台支社,高田馬場支社,大阪支社,福岡支社,道順,株式会社Wiz,ワイズ,株式会社ワイズ,wiz,新大塚,大塚,東池袋" name="keywords">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../css/style.css?20180724">
    <meta property="og:site_name" content="株式会社Wiz コーポレートサイト">
    <meta property="og:title" content="アクセスマップ(新大塚本社・札幌支社・仙台支社・高田馬場支社・大阪支社・福岡支社)｜株式会社Wiz(ワイズ)">
    <meta property="og:description" content="株式会社Wiz（ワイズ）大塚本社および各支社（札幌・仙台・高田馬場・大阪・福岡）のアクセスマップです。各拠点ごとの住所、電話番号、また、詳細な道順を掲載しています。">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://012grp.co.jp/company/access.html">
    <meta property="og:image" content="http://012grp.co.jp/img/ogp.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://012grp.co.jp/img/ogp.jpg">
    <link rel="icon" type="image/png" sizes="228x228" href="../img/favicon/coast-228x228.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="../img/favicon/browserconfig.xml">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="../img/favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../img/clipicon.png">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N5J3XH9');
      
    </script>
    <script type="text/template" data-template-newsrelease="grid">
      <% _.each(this.data, function (e, i) { %>
      <a class="underLayer-news-block" href="<%= e.url %>">
      	<div class="underLayer-news_block-l">
      		<span class="underLayer_news_time">
      			<%= e.time %>
      		</span>
      		<span class="category_icon<%=e.categoryId%>">
      			<%= e.category %>
      		</span>
      	</div>
      	<p class="underLayer-news_block-r">
      		<%= e.title %>
      	</p>
      </a>
      <% }); %>
    </script>
    <!--include _partial/_temp-grid-news-sp-->
    <script src="../js/layzr.min.js"></script>
    <script src="../js/lib/bundle.min.js"></script>
    <!--script(src='#{domain}js/bxslider.min.js')-->
    <script src="../js/app.js"></script>
  </head>
  <body>
    <header data-target-head="target" class="pc-header pc-dom pc-header-shadow">
      <div class="pc-header-inner">
        <div class="pc-logo"><a href="/index.html"><img src="../img/svg/logo.svg"></a></div>
        <ul class="pc-global-nav pc-global-menu">
          <li data-trigger-navtoggle-pc="navtoggle-pc">
            <figure class="pc-global-nav_img"><img src="../img/svg/business.svg"></figure><span>企業情報</span>
            <ul data-target-navtoggle-pc="navtoggle-pc" class="pc-global-nav_togglewrap">
              <li class="pc-global-nav_toggle"><a href="/company/top_message.html">トップメッセージ</a></li>
              <li class="pc-global-nav_toggle"><a href="/company/philosophy.html">Wizの理念</a></li>
              <li class="pc-global-nav_toggle"><a href="/company/corporate_profile.html">会社概要・沿革</a></li>
              <li class="pc-global-nav_toggle"><a href="/company/news.html">ニュース</a></li>
              <li class="pc-global-nav_toggle"><a href="/company/excutive.html">役員紹介</a></li>
              <li class="pc-global-nav_toggle"><a href="/company/access.html">拠点一覧</a></li>
            </ul>
          </li>
          <li><a href="/service/">
              <figure class="pc-global-nav_img"><img src="../img/svg/corporateInfo.svg"></figure><span>事業内容</span></a></li>
          <li data-trigger-navtoggle-pc="navtoggle-pc">
            <figure class="pc-global-nav_img"><img src="../img/svg/aboutus.svg"></figure><span>Wiz color</span>
            <ul data-target-navtoggle-pc="navtoggle-pc" class="pc-global-nav_togglewrap">
              <li class="pc-global-nav_toggle"><a href="/wp/photogallery/" target="_blank">012アルバム</a>
                <!--@TODO link-->
              </li>
              <li class="pc-global-nav_toggle"><a href="/wizcolor/wiz_character.html">キャラクター紹介</a></li>
              <li class="pc-global-nav_toggle"><a href="/wizcolor/qanda/">よくある質問</a></li>
              <li class="pc-global-nav_toggle"><a href="http://best100.v-tsushin.jp/2013/12/wiz.php" target="_blank">ベストベンチャー</a></li>
              <li class="pc-global-nav_toggle"><a href="/wizcolor/usercolor/">User Color</a></li>
            </ul>
          </li>
          <li><a href="/csr/">
              <figure class="pc-global-nav_img"><img src="../img/svg/csr.svg"></figure><span>CSR</span></a></li>
          <li><a href="/recruiting/">
              <figure class="pc-global-nav_img"><img src="../img/svg/recruit.svg"></figure><span>採用情報</span></a></li>
          <li><a href="/contact/">
              <figure class="pc-global-nav_img"><img src="../img/svg/question.svg"></figure><span>お問い合わせ</span></a></li>
        </ul>
        <ul class="pc-global-menu-sub">
          <li><a href="/wp/category/blog/" target="_blank">
              <figure class="pc-global-nav_img pc-nav-icon_blog"><img src="../img/svg/blog.svg"></figure><span class="pc-nav-txt_blog">ブログ</span></a></li>
          <li><a href="/company/access.html">
              <figure class="pc-global-nav_img pc-nav-icon_access"><img src="../img/svg/access.svg"></figure><span class="pc-nav-txt_access">拠点一覧</span></a></li>
        </ul>
        <div class="pc-global-menu-banner"><a href="http://userweb.012grp.co.jp/" target="_blank">
            <figure class="pc-global-nav_img"><img src="../img/banner/banner_userweb_pc.gif" alt="Wizお客様サイト"></figure></a></div>
      </div>
    </header>
    <!--pc-headerとほぼ同じだがwrapにシャドウがついているtodo jade-->
    <header class="sp-header sp-dom">
      <div class="sp-logo"><a href="/index.html"><img src="../img/svg/logo.svg"></a></div>
      <div class="sp-headerIcon"><a href="/wp/category/blog/">ブログ</a></div>
      <nav>
        <div class="navBtn">
          <ul class="navIcon">
            <li class="navIcon-line"></li>
            <li class="navIcon-line"></li>
            <li class="navIcon-line"></li>
          </ul>
        </div>
        <div class="menu menuOff">
          <ul>
            <li data-trigger-haccordion="trigger" class="nav_lists-h"><img src="../img/icon/menu_sp_1.gif" class="menu_icon">企業情報
              <ul data-target-haccordion="target">
                <li class="nav_lists_inner"><a href="/company/top_message.html">トップメッセージ</a></li>
                <li class="nav_lists_inner"><a href="/company/philosophy.html">Wizの理念</a></li>
                <li class="nav_lists_inner"><a href="/company/corporate_profile.html">会社概要・沿革</a></li>
                <li class="nav_lists_inner"><a href="/company/news.html">ニュース</a></li>
                <li class="nav_lists_inner"><a href="/company/excutive.html">役員紹介</a></li>
                <li class="nav_lists_inner"><a href="/company/access.html">アクセス</a></li>
              </ul>
            </li>
            <li class="nav_lists-h"><a href="/service/"><img src="../img/icon/menu_sp_2.gif" class="menu_icon">事業内容</a></li>
            <li data-trigger-haccordion="trigger" class="nav_lists-h"><img src="../img/icon/menu_sp_3.gif" class="menu_icon">Wiz color
              <ul data-target-haccordion="target">
                <li class="nav_lists_inner"><a href="/wp/photogallery/">012アルバム</a></li>
                <li class="nav_lists_inner"><a href="/wizcolor/wiz_character.html">キャラクター紹介</a></li>
                <li class="nav_lists_inner"><a href="/wizcolor/qanda/">よくある質問</a></li>
                <li class="nav_lists_inner"><a href="http://best100.v-tsushin.jp/2013/12/wiz.php">ベストベンチャー</a></li>
                <li class="nav_lists_inner"><a href="/wizcolor/usercolor/">User Color</a></li>
              </ul>
            </li>
            <li class="nav_lists-h"><a href="/csr/"><img src="../img/icon/menu_sp_4.gif" class="menu_icon">CSR</a></li>
            <li class="nav_lists-h"><a href="/recruiting/"><img src="../img/icon/menu_sp_5.gif" class="menu_icon">採用情報</a></li>
            <li class="nav_lists-h"><a href="/contact/"><img src="../img/icon/menu_sp_6.gif" class="menu_icon">お問い合わせ</a></li>
            <li class="nav_lists-h"><a href="/wp/category/blog/"><img src="../img/icon/menu_sp_7.gif" class="menu_icon">ブログ</a></li>
            <li class="nav_lists-h"><a href="/company/access.html"><img src="../img/icon/menu_sp_8.gif" class="menu_icon">拠点一覧</a></li>
            <li class="nav_lists-img"><a href="http://userweb.012grp.co.jp/" target="_blank"><img src="../img/banner/banner_userweb_sp.gif" alt="Wizお客様サイト"></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div data-target-under-layer="target" class="under_layer is-off"></div>
    <div data-totop="totop" class="spToTopBtn is-disable"></div>
    <div class="underLayer_header">
      <ul class="underLayer_breadcrumb pc-dom">
        <li><a href="/index.html">株式会社Wiz(ワイズ) ホーム</a></li>
        <li><span class="underLayer_breadcrumb_arrow">＞</span></li>
        <li>企業情報<span class="underLayer_breadcrumb_arrow">＞</span></li>
        <li>アクセスマップ</li>
      </ul>
      <ul class="underLayer_breadcrumb-sp sp-dom">
        <li class="_breadcrumb-sp_arrowBlock"><a href="../"><span class="_breadcrumb-sp_arrow"></span></a></li>
        <li class="_breadcrumb-sp_parent">企業情報</li>
      </ul>
      <h1 class="underLayer_ttl pc-dom">アクセスマップ</h1>
      <h1 class="underLayer-ttl sp-dom">
        <div class="underLayer-parent_block">アクセスマップ</div>
      </h1>
    </div>
    <section class="underLayer-box">
      <!--大塚-->
      <div id="sinotuka" class="underLayer-box_mapListBLock mb60">
        <div class="underLayer-box_mapList-flex underLayer-box_corpInfo">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_corpInfo_map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.9724618520513!2d139.72795691525997!3d35.72689578018368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d753219aa11%3A0x36c93986b0fce42d!2z44CSMTcwLTAwMDUg5p2x5Lqs6YO96LGK5bO25Yy65Y2X5aSn5aGa77yS5LiB55uu77yS77yV4oiS77yR77yV!5e0!3m2!1sja!2sjp!4v1489484932247" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_corpInfo_ttl">Wiz 本社</div>
            <div class="underLayer-box_corpInfo_txt">〒170-0005　東京都豊島区南大塚2-25-15 South新大塚ビル12F<br>
              <!--| TEL：03-6368-6275-->
            </div>
            <div class="underLayer-box_corpInfo_subTtl-access">アクセス</div>
            <ul class="underLayer-box_corpInfo_txt">
              <li>丸の内線：新大塚駅 1番出口 徒歩1分</li>
              <li>JR山手線：大塚駅 南口 徒歩7分</li>
              <li>荒川線：大塚駅 徒歩7分</li>
            </ul>
            <div class="underLayer-box_corpInfo_exampleTtl">● 丸の内線からのアクセス例</div>
            <p class="underLayer-box_corpInfo_txt">新大塚駅「1番出口」を右に出て、横断歩道を渡り、左手の方向に直進。右手にWizが見えてきます。</p>
            <div class="underLayer-box_corpInfo_exampleTtl">● JR山手線からのアクセス例</div>
            <p class="underLayer-box_corpInfo_txt">大塚駅「南口」を左に出て、大通りを右手の方向に直進。5分ほど進むと左手にWizが見えてきます。</p>
            <!--a.underLayer-box_mapLink(href="http://012lunch.info/")-->
            <!--	|大塚本社のランチマップ-->
          </div>
        </div>
      </div>
      <h2 class="underLayer-box_subTtl-thin">北海道・東北</h2>
      <div class="underLayer-box_mapListBLock mb60">
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">札幌支社</div>
            <div class="underLayer-box_mapList-txt">〒060-0001<br>札幌市中央区北1条西2-1 札幌時計台ビル4F<br><br>【アクセス】<br>JR各線：札幌駅南口より徒歩9分<br>地下鉄東西線：大通り駅16番出口より徒歩3分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/sapporomichijyun_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/PhP8h2b46QN2" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">仙台支社</div>
            <div class="underLayer-box_mapList-txt">〒980-0021<br>宮城県仙台市青葉区中央2-2-6 三井住友銀行仙台ビル8F<br><br>【アクセス】<br>JR各線：仙台駅西口方面出口より徒歩7分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/sendaiaccess_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/eN8KgS7SDKv" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">仙台第二支社</div>
            <div class="underLayer-box_mapList-txt">〒980-0014<br>宮城県仙台市青葉区本町2-6-35 第七広瀬ビル8F<br><br>【アクセス】<br>JR各線：仙台駅西口より徒歩10分<br>仙台地下鉄南北線：広瀬通駅東2番出口より徒歩1分</div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/21eKyyZrbmR2" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <h2 class="underLayer-box_subTtl-thin">関東</h2>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">宇都宮支社</div>
            <div class="underLayer-box_mapList-txt">〒320-0811<br>栃木県宇都宮市大通り4-1-18 宇都宮大同生命ビル6F<br><br>【アクセス】<br>JR各線：宇都宮駅西口より徒歩6分</div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/rSJjAJtBaNz" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">高田馬場支社</div>
            <div class="underLayer-box_mapList-txt">〒169-0075<br>東京都新宿区高田馬場2-13-2 Primegate4F<br><br>【アクセス】<br>JR山手線：高田馬場駅早稲田口より徒歩5分<br>西武新宿線：高田馬場駅早稲田口より徒歩5分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/takadanobabamichijyun_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/bQBazfP9PCm" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">恵比寿クリエイティブラボ</div>
            <div class="underLayer-box_mapList-txt">〒150-0011<br>東京都渋谷区東3-15-7 ヒューリック恵比寿ビル 4F<br><br>【アクセス】<br>JR山手線：恵比寿駅西口より徒歩6分<br>東京メトロ日比谷線：恵比寿駅1番出口より徒歩6分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/ebisuaccess_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/8tHactyYMSk" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">五反田支社</div>
            <div class="underLayer-box_mapList-txt">〒141-0031<br>東京都品川区西五反田1-1-8 NMF五反田駅前ビル8F<br><br>【アクセス】<br>JR山手線：五反田駅西口より徒歩1分<br>都営浅草線：五反田駅Ａ１出口より徒歩1分<br>東急池上線：五反田駅出口より徒歩3分</div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/FQK42LUnWiP2" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <h2 class="underLayer-box_subTtl-thin">中部・近畿</h2>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">名古屋支社</div>
            <div class="underLayer-box_mapList-txt">〒460-0003<br>愛知県名古屋市中区錦3-15-15 CTV錦ビル9F<br><br>【アクセス】<br>名鉄瀬戸線：栄町駅10A出口より徒歩1分<br>地下鉄東山線：栄駅3番出口より徒歩2分<br>地下鉄名城線：栄駅3番出口より徒歩2分</div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/qa35zfCpKsWzrTr16" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">大阪支社</div>
            <div class="underLayer-box_mapList-txt">〒541-0052<br>大阪府大阪市中央区安土町2-3-13 大阪国際ビルディング10F/24F<br><br>【アクセス】<br>地下鉄御堂筋線：本町駅3番・7番出口より徒歩6分<br>地下鉄堺筋線：堺筋本町駅17番出口より徒歩2分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/osakamichijyun_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/e3iUowH36142" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <h2 class="underLayer-box_subTtl-thin">中国・四国・九州・沖縄</h2>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">福岡支社</div>
            <div class="underLayer-box_mapList-txt">〒810-0001<br>福岡県福岡市中央区天神3-4-5 ピエトロビル3F<br><br>【アクセス】<br>西鉄天神大牟田線：西鉄福岡（天神）駅北口2番出口より徒歩7分<br>地下鉄空港線：天神駅西口4番出口より徒歩3分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/fukuokamichijyun_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/iZYixr9wEKR2" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">福岡クリエイティブラボ</div>
            <div class="underLayer-box_mapList-txt">〒810-0001<br>福岡県福岡市中央区天神3-4-5 ピエトロビル9F<br><br>【アクセス】<br>西鉄天神大牟田線：西鉄福岡（天神）駅北口2番出口より徒歩7分<br>地下鉄空港線：天神駅西口4番出口より徒歩3分</div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/SEbgC4S3GL72" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">北九州支社</div>
            <div class="underLayer-box_mapList-txt">〒802-0004<br>福岡県北九州市小倉北区鍛冶町1-10-10 大同生命北九州ビル6F<br><br>【アクセス】<br>ＪＲ各線：小倉駅南口より徒歩8分<br>北九州モノレール：平和通駅出入口2より徒歩4分</div>
            <div class="underLayer-box_mapList-btnBlock"></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">徳島支社</div>
            <div class="underLayer-box_mapList-txt">〒770-0905<br>徳島県徳島市東大工町1-9-1 徳島ファーストビル5F<br><br>【アクセス】<br>ＪＲ各線：徳島駅正面出口より徒歩10分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/tokushimamichijyun_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/PbubVP7GgU62" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">宮崎支社</div>
            <div class="underLayer-box_mapList-txt">〒880–0812<br>宮崎県宮崎市高千穂通2–1–33 明治安田生命宮崎ビル8F<br><br>【アクセス】<br>ＪＲ各線：宮崎駅西口より徒歩5分</div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/RFGCLXYTG382" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">鹿児島支社</div>
            <div class="underLayer-box_mapList-txt">〒892-0846<br>鹿児島県鹿児島市加治屋町15-9 大同生命鹿児島ビル7F<br><br>【アクセス】<br>鹿児島市電1・2系統：高見馬場駅より徒歩1分<br>ＪＲ各線：鹿児島中央駅東口より徒歩14分</div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/vbcoBgxC2KT2" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
        <div class="underLayer-box_mapList-flex">
          <div class="underLayer-box_mapList_item">
            <div class="underLayer-box_mapList-ttl">沖縄支社</div>
            <div class="underLayer-box_mapList-txt">〒900-0016<br>沖縄県那覇市前島3-1-15 大同生命那覇ビル1F/4F<br><br>【アクセス】<br>ＪＲゆいレール：美栄橋駅北口より徒歩6分<br>⇒詳しい道順は<a href="http://012grp.co.jp/wp/category/blog/okinawaaccess_sp" target="_blank">こちら</a></div>
            <div class="underLayer-box_mapList-btnBlock"><a href="https://goo.gl/maps/fH1iNtw6wG52" target="_blank" class="underLayer-box_mapList-btnBlock_btn"><span>Google Map</span></a></div>
          </div>
        </div>
      </div>
    </section>
    <p data-target-fixDom="target" class="toTopPos"></p>
    <footer>
      <div class="footer_box-sp sp-dom">
        <div class="footer-inner">
          <div class="footer-inner_block-sp">
            <ul class="footer_list">
              <li><a href="/wp/category/blog/">ブログ</a></li>
              <li><a href="/policy/">Privacy policy</a></li>
              <li><a href="/contact/">お問い合わせ</a></li>
              <li><a href="https://www.facebook.com/012wiz" class="social-icon">LET'S SHARE</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-inner-bottom"><span>Copyright © 2016 Wiz Co.,Ltd.All Rights Reserved.</span></div>
      </div>
      <div class="footer_box pc-dom">
        <div class="footer-inner-bottom"><span>Copyright © 2016 Wiz Co.,Ltd.All Rights Reserved.</span><span><a href="/policy/" target="_blank">Privacy policy</a></span><span><a href="/pdf/wiz_mate.pdf">Wizメイト規約</a></span><span><a href="/sitemap/">サイトマップ</a></span><span class="social-icon"><a href="https://www.facebook.com/012wiz">LET'S SHARE</a></span></div>
      </div>
    </footer>
    <script>
      var instance = Layzr({
      	normal: 'data-layzr'
      });
      $(function () {
      	instance
      			.update()
      			.check()
      			.handlers(true);
      });
    </script>
  </body>
</html>

